/* .homepage {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;  
  align-items: center;      
  flex-direction: column;   
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
} */


/* ביטול גלילה רק לדף הבית */
body.no-scroll {
  overflow: hidden;
}

/* רקע תמונה + מיקום באמצע
.homepage {
  background-image: url('/images/library.jpg'); /* עדכני את הנתיב לפי הצורך */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
} */ 

/* מרכז כל התוכן לגובה ורוחב */
.homepage {
      background-image: url('../../img/6870041.jpg'); /* עדכני את הנתיב לפי הצורך */
 background-size: cover;
   background-position: center;

   display: flex;
  flex-direction: column;
  justify-content: center; /* מרכז אנכי */
  align-items: center;     /* מרכז אופקי */
  text-align: center;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  text-shadow: 1px 1px 5px black;
}

/* כפתורים */
.button-group {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.button-home {
  width: 200px;
  height: 80px;
  font-size: 2rem;
  cursor: pointer;
}
