.nav {
  position: fixed;
  top: 0;
  width: 110%;
  background-color: #ffdee2;
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.nav button {
  padding: 8px 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
  cursor: pointer;
  transition: 0.3s;
  color: black;

}

/* מעבר עכבר */
.nav button:hover {
  background-color: pink;
  color: white;
}

/* כפתור פעיל */
.nav button.active {
  background-color: #0056b3;
  color: white;
  border-color: #004999;
}

