.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffdee2;
  padding: 10px;
  display: flex;
  gap: 10px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  overflow-x: auto;
  overflow-y: hidden; 
  white-space: nowrap; 
  justify-content: center;
}

.nav button {
  min-width: 120px; 
  padding: 8px 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
  cursor: pointer;
  transition: 0.3s;
  color: black;
  white-space: normal; 
}

.nav button:hover {
  background-color: pink;
  color: white;
}

.nav button.active {
  background-color: #47927b;
  color: white;
  border-color: #377260;
}

